@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --orange: #FC673C;
    --midnight-navy: #05073D;
    --soft-grey: #C6C6D1;
    --snow-white: #FFF5E9;
    --almost-white: #FAFAFA;
    --lavender-gray: #E5E7F0;
    --sky-blue: #4A90E2;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #f2f2f2;
    font-weight: 400;
}

a,
a:hover {
    text-decoration: none;
}

.bg-image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-skyblue {
    background-color: var(--sky-blue) !important;
}

.bg-almost-white {
    background-color: var(--almost-white);
}

.bg-orange {
    background-color: var(--orange);
}

.btn-style-1 {
    padding: 10px 30px;
    color: white;
    border-radius: 50px;
    border: none;
    text-align: center;
    background-color: var(--orange);
    display: inline-block;
    transition: all 0.3s linear;
}

.btn-style-1:hover {
    background-color: #D95121;
    transition: all 0.3s linear;
}

.btn-style-2 {
    padding: 10px 30px;
    color: white;
    border-radius: 50px;
    text-align: center;
    background-color: var(--sky-blue);
    border: 1px solid var(--almost-white);
    display: inline-block;
    transition: all 0.3s linear;
}

.btn-style-2-orange {
    background-color: var(--orange);
}

.btn-style-2:hover {
    background-color: var(--almost-white);
    color: var(--orange);
    transition: all 0.3s linear;
}

.btn-style-3 {
    display: inline-block;
    border: none;
    background-color: var(--midnight-navy);
    color: var(--almost-white);
    border-radius: 50px;
    padding: 10px 30px;
    font-size: 14px;
    line-height: 1.5;
    transition: all 0.3s linear;
}

.btn-style-3:hover {
    background-color: var(--orange);
    color: var(--almost-white);
    transition: all 0.3s linear;
}

.btn-style-4 {
    display: inline-block;
    border: none;
    background-color: var(--lavender-gray);
    color: var(--midnight-navy);
    border-radius: 10px;
    padding: 10px 30px;
    line-height: 1.5;
    transition: all 0.2s linear;
}

.btn-style-4:hover {
    background-color: var(--almost-white);
    color: var(--orange);
    transition: all 0.2s linear;
}

.btn-style-4:hover svg circle,
.btn-style-4:hover svg path,
.btn-style-4:hover svg rect {
    stroke: var(--orange);
}

.btn-style-5 {
    display: inline-block;
    border: none;
    background-color: var(--almost-white);
    color: var(--midnight-navy);
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 14px;
    line-height: 1.5;
    transition: all 0.2s linear;
}

.btn-style-5:hover svg path,
.btn-style-5:hover svg circle,
.btn-style-5:hover {
    color: var(--orange);
    transition: all 0.2s linear;
    stroke: var(--orange);
}

.social-media-btn {
    display: inline-block;
    background-color: rgba(42, 50, 56, 0);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    padding: 8px;
    transition: all 0.3s;
}

.social-media-btn:hover {
    background-color: rgb(255, 255, 255);
    transition: all 0.3s;
}

.social-media-btn img {
    width: 100%;
}

.arrow-btn {
    background: #FAFAFA;
    border: 1px solid #C6C6D1;
    height: 40px;
    width: 40px;
}

.arrow-btn img {
    height: 16px;
}

.arrow-btn:hover {
    border: 1px solid var(--orange);
    transition: all 0.3s;
}

.arrow-btn:hover svg path {
    stroke: var(--orange);
    transition: all 0.3s;
}

.btn-abs-middle {
    position: absolute;
    top: calc(50% - 20px);
    left: -50px;
    z-index: 10;
}

.btn-abs-middle.btn-next {
    left: auto;
    right: -50px;
}

.section-title {
    margin-bottom: 40px;
}

.section-title .title {
    font-size: 36px;
    line-height: 1.4;
    font-weight: 600;
    margin-bottom: 0;
}

.section-title .title.title-md {
    font-size: 24px;
}

.br-20 {
    border-radius: 20px !important;
}

.text-midnight-navy {
    color: var(--midnight-navy);
}

.text-almost-white {
    color: var(--almost-white);
}

.text-grey {
    color: #7D7D7D;
}

.owl-item {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transform: translateZ(0) scale(1.0, 1.0);
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
}

.mainContent {
    padding-top: 86px;
    padding-bottom: 20px;
}

/* header */
.header {
    padding: 0 10px;
    position: fixed;
    width: 100%;
    top: 10px;
    z-index: 10000;

}

.header .main-navbar {
    background-color: var(--almost-white);
    box-shadow: 0px 1px 4px 0px #0C0C0D0D;
    box-shadow: 0px 1px 4px 0px #0C0C0D1A;
    border-radius: 100px;
    padding: 12px 10px 12px 25px;
}

.header .main-navbar .navbar-brand img {
    height: 30px;
    max-width: 181px;
}

.header .main-navbar .navbar-nav {
    margin-right: 60px;
    gap: 68px;
}

.header .main-navbar .nav-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: var(--midnight-navy);
    /* padding: 10px 68px; */
    padding: 10px 10px;

}

.header .main-navbar .navbar-nav .dropdown-menu {
    background: transparent;
    border: transparent;
    box-shadow: none;
    color: inherit;
    padding: 0;
}

.header .main-navbar .navbar-nav .dropdown-menu ul:first-of-type {
    background-color: var(--almost-white);
    border: 1px solid #C6C6D1;
    border-radius: 12px;
    padding: 20px;
    min-width: 180px;
    margin-top: 25px;
    left: -50%;
}

.header .main-navbar .navbar-nav .dropdown-toggle::after {
    content: none;
}

.header .main-navbar .navbar-nav .dropdown-toggle img {
    height: 6px;
    margin-left: 8px;
}

.header .main-navbar .navbar-nav .dropdown-menu ul li {
    border-bottom: 1px solid #C6C6D1;
    margin-bottom: 8px;
    padding-bottom: 8px;
}

.header .main-navbar .navbar-nav .dropdown-menu ul li .dropdown-item {
    color: var(--midnight-navy);
    font-size: 14px;
    line-height: 1.5;
    position: relative;
    padding-left: 27px;
}

.header .main-navbar .navbar-nav .dropdown-menu ul li .dropdown-item:active {
    background-color: transparent !important;
}

.header .main-navbar .navbar-nav .dropdown-menu ul li .dropdown-item img {
    position: absolute;
    left: 4px;
    top: 8px;
}

.header .main-navbar .navbar-nav .dropdown-menu ul li:last-of-type {
    margin-bottom: 0;
    border-bottom: 0;
    padding-bottom: 0;
}

.header .navbar-toggler {
    height: 30px;
    width: 30px;
    font-size: 30px;
    border: none;
    box-shadow: none;
    padding: 0;
    color: var(--orange);
}

/* home-hero */
.home-hero-section {
    padding: 0 10px;
    margin-bottom: 40px;
}

.home-hero-section .container-fluid {
    background-image: url('../assets/images/bg/bg-forest-1.jpg');
    border-radius: 20px;
}

.home-hero-section .home-hero-content {
    padding: 140px 0;
}

.home-hero-section .home-hero-content .hh-title .text-1 {
    font-weight: 400;
    font-size: 52px;
    line-height: 1;
}

.home-hero-section .home-hero-content .hh-title .text-2 {
    font-weight: 700;
    font-size: 92px;
    line-height: 1;
}

.hh-search-form {
    margin: auto;
    width: 500px;
    height: 80px;
    border-radius: 30px;
    padding: 10px 40px;
    background-color: #FAFAFA80;
    border: 1px solid #C6C6D1;
    gap: 10px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.hh-search-form .inputbox {
    border: none;
    padding: 10px;
    width: calc(100% - 30px);
    color: var(--almost-white);
    background-color: transparent;
    font-size: 18px;
    line-height: 1.5;
}

.hh-search-form .inputbox:active,
.hh-search-form .inputbox:focus,
.hh-search-form .inputbox:focus-within {
    border: none;
    box-shadow: none;
    outline: none;
}

.hh-search-form .inputbox::placeholder {
    color: var(--almost-white);
}

.hh-search-form .search-btn {
    background-color: transparent;
    border: none;
    color: var(--almost-white);
    padding: 0;
    font-size: 26px;
    position: absolute;
    left: 40px;
}

/* main */
.cooltrails-title {
    position: relative;
    margin-bottom: 40px;
}

.cooltrails-title .title {
    font-size: 36px;
    font-weight: 600;
    color: var(--midnight-navy);
    margin-bottom: 0;
}

.cooltrails-title .title span {
    color: var(--orange);
}

.cooltrails-title p {
    color: var(--midnight-navy);
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 0;
}

.default-padding {
    padding-top: 50px;
    padding-bottom: 50px;
}

/* favorite-places */
.local-favorite-single {
    background-color: var(--lavender-gray);
    padding: 14px;
    border-radius: 20px;
    border: 1px solid var(--almost-white);
    box-shadow: 0px 4px 14px 0px #0000000D;
    margin-bottom: 15px;
}

.local-favorite-single .lfc-thumb {
    overflow: hidden;
    border-radius: 8px;
}

.local-favorite-single .lfc-thumb img {
    border-radius: 8px;
    transform: scale(1.0);
    transition: all 2s;
}

.local-favorite-single:hover .lfc-thumb img {
    transform: scale(1.1);
    transition: all 2s;
}

.local-favorite-single .lfc-content {
    padding: 15px 0 0px 0;
}

.local-favorite-single .lfc-content .lfc-title {
    font-size: 16px;
    font-weight: 400;
    color: var(--midnight-navy);
    display: -webkit-box;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}

.local-favorite-single .lfc-content p {
    font-size: 12px;
    color: grey;
    line-height: 1.5;
}

.local-favorite-single .lfc-thumb .bookmark-btn {
    display: flex;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
    height: 34px;
    width: 34px;
    font-size: 18px;
    line-height: 1;
    justify-content: center;
    align-items: center;
    background-color: var(--almost-white);
    color: grey;
    border-radius: 50%;
    transition: all 0.4s;
}

.local-favorite-single .lfc-thumb .bookmark-btn:hover {
    color: var(--orange);
    transition: all 0.4s;
}

.local-favorite-single .lfc-thumb .bookmark-btn:active {
    background-color: var(--orange);
    color: var(--almost-white);
    transition: all 0.4s;
}

/* favorite-places-end */
/* activity */
/* .activity-row {
    gap: 10px;
} */
.activity-single {
    margin: 35px 0px;
    transition: all 0.3s;
}

.activity-single .activity-img {
    /* width: 220px; */
    border-radius: 20px;
    overflow: hidden;
    height: 300px;
}

.activity-single .activity-img img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    transform: scale(1.0);
    transition: all 1s;
}

.activity-single:hover .activity-img img {
    transform: scale(1.1);
    transition: all 1s;
}

.activity-single .activity-overlay {
    position: absolute;
    top: 0;
    left: 0;
    padding: 25px 15px;
    background: linear-gradient(178.1deg, rgba(0, 0, 0, 0) 48.27%, #000000 104.85%);

}

.activity-single .activity-overlay .overlay-title {
    color: var(--almost-white);
    font-size: 24px;
    font-weight: 500;
    line-height: 1.4;
}

.activity-Slider-controls {
    margin-top: 40px;
}

/* setting for activity center slider, owl and slick both */
.activity-slider-container .owl-item {
    transition: all 0.3s;
}

.activity-slider-container .slick-center,
.activity-slider-container .center {
    transform: scale(1.2);
    transition: all 0.3s;
}

.activity-slider-container .slick-center .activity-single,
.activity-slider-container .center .activity-single {
    margin: 35px 22px;
}

.activity-slider-container .slick-center .activity-single .activity-overlay .overlay-title,
.activity-slider-container .center .activity-single .activity-overlay .overlay-title {
    transform: scale(0.9);
}

/* setting for activity center slider, owl and slick both en */

/* upgrade-section  */
.upgrade-box {
    border-radius: 20px;
    padding: 20px;
}

.upgrade-img img {
    border-radius: 16px;
}

.upgrade-box .upgrade-content {
    padding: 20px 70px;
}

.upgrade-box .upgrade-content .uc-title {
    color: var(--almost-white);
    font-size: 36px;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 20px;
}

.upgrade-box .upgrade-content p {
    font-size: 18px;
    line-height: 1.5;
    color: var(--almost-white);
    padding-right: 40px;
}

/* share-adventure */
.share-adventure-single {
    border-radius: 20px;
    margin-bottom: 35px;
    overflow: hidden;
}

.share-adventure-single img {
    width: 100%;
    transform: scale(1.0);
    transition: all 2s;
}

/* .share-adventure-single:hover img {
   transform: scale(1.1);
   transition: all 2s;
} */

.share-adventure-single .share-adv-overlay {
    position: absolute;
    background: linear-gradient(180.11deg, rgba(0, 0, 0, 0) 65.37%, #000000 99.91%);
    top: 0;
    left: 0;
    padding: 20px;
}

.share-adventure-single .share-adv-overlay span {
    font-size: 14px;
    line-height: 1.5;
}

/*  download App*/
.download-app-container {
    border-radius: 20px;
}

.download-app-container .download-app-content {
    padding: 100px 0px 20px 0;
}

.download-app-container .download-app-content h2 {
    font-size: 48px;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 20px;
}

.download-app-container .download-app-img {
    padding: 30px 20px 0 20px;
}

/* gift-card-section  */
.section-gift-card {
    padding: 130px 0;
}

.section-gift-card .gift-card-content .cooltrails-title .title {
    font-size: 48px;
    line-height: 1.2;
}

.section-gift-card .abs-card-left {
    max-width: 485px;
    box-shadow: 5.35px 1.53px 41.25px 0px #00000026;
    border-radius: 20px;
    transform: rotate(10.17deg);
    position: absolute;
    left: -132px;
    top: 50px;
}

.section-gift-card .abs-card-right {
    max-width: 485px;
    box-shadow: 5.35px 1.53px 41.25px 0px #00000026;
    border-radius: 20px;
    transform: rotate(-15.28deg);
    position: absolute;
    right: -132px;
    top: 50px;
}

.section-gift-card .abs-card-left img,
.section-gift-card .abs-card-right img {
    border-radius: 20px;
}

/* footer */
.footer-logo-container {
    padding-bottom: 40px;
}

.footer-logo-container .footer-logo img {
    height: 40px;
}

.footer-main {
    border-radius: 60px 60px 0 0;
    padding-top: 80px;
    padding-bottom: 20px;
}

.footer-main .container {
    padding: 0 10px;
}

.footer-widget {
    margin-bottom: 55px;
    padding-left: 25px;
}

.footer-widget .footer-title {
    margin-bottom: 20px;
}

.footer-widget .footer-title .ft-title .title {
    font-size: 24px;
    color: var(--almost-white);
    font-weight: 500;
}

.footer-widget .footer-title .ft-title .ft-icon {
    display: none;
}

.footer-widget .footer-title .ft-title .ft-icon svg path {
    stroke: white;
}

.footer-widget .footer-nav li {
    display: block;
    margin-bottom: 11px;
}

.footer-widget .footer-nav li a {
    display: block;
    font-size: 14px;
    color: var(--almost-white);
    line-height: 1.5;
}

.footer-bottom {
    padding: 15px 0 15px 0;
}

.footer-bottom .copyright,
.footer-bottom .footer-social-media {
    padding: 10px 0;
}

.footer-bottom .copyright .copyright-text {
    font-size: 14px;
    line-height: 1;
    color: var(--midnight-navy);
}

.footer-bottom .copyright .footer-copyright-nav li {
    position: relative;
    margin-right: 15px;
}

.footer-bottom .copyright .footer-copyright-nav li::before {
    content: '';
    position: absolute;
    left: -11px;
    height: 5px;
    width: 5px;
    background-color: var(--midnight-navy);
    border-radius: 50%;
    top: 10px;
}

.footer-bottom .copyright .footer-copyright-nav li:first-of-type::before {
    content: none;
}

.footer-bottom .copyright .footer-copyright-nav li a {
    font-size: 12px;
    line-height: 1.5;
    color: var(--midnight-navy);
}

.footer-bottom .footer-social-media .social-media-btn img {
    height: 31px;
    width: 31px;
}

.footer-bottom .social-media-logo-footer li a {
    transform: scale(1.0);
    transition: all 0.3s;
}

.footer-bottom .social-media-logo-footer li a:hover {
    transform: scale(1.1);
    transition: all 0.3s;
}

/* section-fellow-explorers */
.section-fellow-explorers {
    padding-top: 50px;
    padding-bottom: 140px;
}

.follow-fellow-single {
    background-color: var(--lavender-gray);
    padding: 10px;
    border: 1px solid var(--almost-white);
    margin: 5px 8px 20px 5px;
    direction: ltr !important;
}

.follow-fellow-single .ff-thumb img {
    border-radius: 16px;
    width: 120px;
    height: 125px;
    object-fit: cover;
    object-position: center;
}

.follow-fellow-single .ff-content {
    width: calc(100% - 120px);
    padding-left: 15px;
}

.follow-fellow-single .ff-content .ff-title {
    font-size: 24px;
    line-height: 1.4;
    font-weight: 500;
    color: var(--midnight-navy);
    margin-bottom: 3px;
}

.follow-fellow-single .ff-content p {
    font-size: 14px;
    color: #7D7D7D;
    line-height: 1.5;
    margin-bottom: 5px;
}


/* login-page */
.section-login .container {
    padding: 0 30px;
}

.login-cover {
    object-fit: cover;
    object-position: center;
}

.login-container {
    padding: 40px 75px;
}

.login-container .login-title {
    font-size: 28px;
    color: var(--midnight-navy);
    line-height: 1.4;
    font-weight: 600;
    margin-bottom: 40px;
}

.form-floating .form-control {
    border: 1px solid #7D7D7D;
    padding: 14px 20px;
    border-radius: 8px;
    color: var(--midnight-navy);
    font-size: 14px;
    line-height: 1.5;
    background-color: transparent;
    margin-bottom: 12px;
}

.form-floating .fform-control-password {
    padding: 14px 40px 14px 20px;
}

.form-floating .toggle-password {
    position: absolute;
    right: 16px;
    top: 16px;
    font-size: 20px;
}

.form-floating .form-control:focus,
.form-floating .form-control:focus-visible,
.form-floating .form-control:focus-within,
.form-floating .form-control:active {
    box-shadow: none;
    outline: none;
}

.form-floating>label {
    left: 8px;
    color: #7D7D7D;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}

.form-floating>.form-control-plaintext~label,
.form-floating>.form-control:focus~label,
.form-floating>.form-control:not(:placeholder-shown)~label,
.form-floating>.form-select~label {
    font-size: 11px;
    transform: scale(1) translateY(-8px) translateX(0);
}

.forgot-password a {
    color: var(--midnight-navy);
    font-size: 14px;
    line-height: 1.5;
}

.login-form-container .or {
    color: grey;
}

.login-form-container .platform-logins {
    margin-bottom: 20px;
}

.login-form-container .platform-logins .login-btn {
    display: block;
    background-color: var(--almost-white);
    color: var(--midnight-navy);
    border: 1px solid var(--midnight-navy);
    border-radius: 30px;
    padding: 14px 40px;
    font-size: 14px;
    font-weight: 400;
    position: relative;
    text-align: center;
}

.login-form-container .platform-logins .login-btn img {
    position: absolute;
    left: 15px;
    top: 10px;
}

.login-form-container .dont-have-ac p {
    color: #7D7D7D;
}

.login-form-container .dont-have-ac .txt-1 {
    font-size: 14px;
}

.login-form-container .dont-have-ac .txt-2 {
    font-size: 12px;
}

/* trail-details-page */
.section-trail-detail {
    padding: 30px 0;
}

.trail-dt-title {
    font-size: 36px;
    line-height: 1.4;
    color: var(--midnight-navy);
    font-weight: 600;
}

.trail-cover {
    margin-bottom: 25px;
}

.trail-cover .coverImage {
    border: 1.58px solid var(--almost-white);
    height: 464px;
    object-fit: cover;
    object-position: center;
}

.trail-cover .cover-overlay {
    position: absolute;
    padding: 25px;
    top: 0;
    left: 0;
}

.trail-detail-map {
    margin-bottom: 25px;
}

.trail-detail-map iframe,
.trail-detail-map img.map-img {
    width: 100%;
    height: 464px;
    border: 1px solid var(--almost-white);
    border-radius: 20px;
}

.trail-detail-map img.map-img {
    object-fit: cover;
}

.trail-detail-map .arrow-btn {
    height: 50px;
    width: 50px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    z-index: 1;
    font-size: 23px;
    line-height: 1;
}

.trail-detail-map .arrow-btn img,
.trail-detail-map .arrow-btn svg {
    height: 24px;
    width: 24px;
}

.trail-sidebar-widget {
    padding: 20px 30px;
}

.trail-sidebar-widget h3 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}

.trail-sidebar-widget .d-flex {
    gap: 13px;
}

.trail-side-nav li {
    margin-bottom: 24px;
}

.trail-side-nav li a {
    display: block;
    position: relative;
    color: var(--midnight-navy);
    line-height: 1.5;
}

.trail-side-nav li a img {
    margin-right: 20px;
}

.trail-dt-nav {
    gap: 50px;
}

.trail-dt-nav a {
    font-size: 16px;
    line-height: 1.5;
    color: var(--midnight-navy);
    transition: all 0.2s;
}

.trail-dt-nav .active a,
.trail-dt-nav a:hover {
    color: var(--orange);
    transition: all 0.2s;
}

.trail-user-favorite-card {
    padding: 20px 40px;
    margin-bottom: 40px;
}

.tuf-left-content,
.tuf-right-content {
    gap: 20px;
}

.tuf-left-content .tusc-cn-1 {
    width: 78px;
}

.tuf-left-content .tusc-cn-1 p {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
    color: var(--orange);
}

.tuf-left-content .tusc-cn-2 {
    max-width: 262px;
}

.tuf-left-content .tusc-cn-2 p {
    line-height: 1.5;
}

.tuf-right-content .tusc-cn-2 {
    max-width: 64px;
}

.tuf-right-content .tusc-cn-2 p span:first-of-type,
.tuf-right-content .tusc-cn-1 p {
    font-size: 24px;
    line-height: 1.4;
}

.tuf-right-content .tusc-cn-1 {
    border-right: 1px solid #7D7D7D;
    border-left: 1px solid #7D7D7D;
    padding: 0 12px;
}

.tuf-right-content .tusc-cn-1 .rating i {
    font-size: 12px;
}

.trail-stats {
    gap: 46px;
}

.trail-stats .trail-stat-single {
    margin-bottom: 30px;
}

.trail-stats .trail-stat-single h3 {
    font-size: 36px;
    line-height: 1.4;
    font-weight: 600;
    margin-bottom: 0px;
}

.trail-stats .trail-stat-single h3 span {
    font-size: 24px;
    line-height: 1.4;
    font-weight: 500;
}

.trail-stats .trail-stat-single .tss-icon {
    width: 43px;
    height: 50px;
}

.trail-desc {
    border-top: 0.5px solid #C6C6D1;
    border-bottom: 0.5px solid #C6C6D1;
    padding: 30px 0;
}

.trail-desc p {
    margin-bottom: 10px;
}

/* review */
.review-row {
    --bs-gutter-y: 20px;
    --bs-gutter-x: 30px;
}

.testimonial-single {
    margin-bottom: 30px;
    border-bottom: 1px solid var(--soft-grey);
}

.testimonial-single .testimonial-head {
    padding-left: 10px;
}

.testimonial-single .testimonial-head .test-image {
    width: 80px;
}

.testimonial-single .testimonial-head .test-image img {
    height: 80px;
    width: 80px;
    object-fit: cover;
    object-position: center;
    border-radius: 16px;
}

.testimonial-single .testimonial-head .test-head {
    width: calc(100% - 80px);
    padding-left: 20px;
}

.testimonial-single .testimonial-head .test-head .reviewer-name {
    font-size: 18px;
    line-height: 1.5;
}

.testimonial-single .testimonial-head .test-head .rating i {
    font-size: 12px;
    color: var(--midnight-navy);
}

.testimonial-single .testimonial-head .test-head p {
    font-size: 14px;
    color: #7D7D7D;
}

.testimonial-single .right-abs {
    position: absolute;
    right: 0;
    top: 0;
}

.testimonial-single .testimonial-body {
    padding: 30px 0 10px 0;
}

.testimonial-single .testimonial-body p {
    padding-right: 115px;
}

.testimonial-single .review-gallery {
    display: block;
    width: 100%;
    overflow: auto;
}

.testimonial-single .review-gallery div.d-flex {
    gap: 29px;
}

.testimonial-single .review-gallery a {
    display: block;
    margin-bottom: 10px;
}

.testimonial-single .review-gallery a img {
    width: 118px;
    height: 120px;
    border-radius: 12px;
    filter: brightness(1);
    transition: all 0.2s;
}

.testimonial-single .review-gallery a:hover img {
    transition: all 0.2s;
    filter: brightness(0.5);
}

.review-row .col-xl-6:last-of-type .testimonial-single,
.review-row .col-xl-6:nth-last-of-type(2) .testimonial-single {
    border-bottom: 0;
}

/* review end*/
/* weather-widget */
.weather-section .section-title {
    margin-bottom: 25px;
}

.weather-nav-pills {
    gap: 10px;
    margin-bottom: 15px;
    flex-wrap: nowrap;
    overflow: auto;
}

.weather-nav-pills .weather-nav-btn {
    padding: 20px 40px;
    border-radius: 20px;
    border: 1px solid #7D7D7D;
    text-align: center;
    color: #7D7D7D;
    background-color: transparent;
    margin-bottom: 10px;
}

.weather-nav-pills .weather-nav-btn .day {
    font-size: 14px;
    line-height: 1.5;
    display: block;
}

.weather-nav-pills .weather-nav-btn .date {
    font-size: 24px;
    line-height: 1.5;
    font-weight: 500;
    display: block;
}

.weather-nav-pills .weather-nav-btn.active {
    border: 1px solid var(--orange);
    color: var(--almost-white);
    background-color: var(--orange);
}

.weather-widget-tab {
    margin-bottom: 25px;
}

.weather-widget-tab .tab-pane {
    background-image: url('../assets/images/bg/weather-bg-1.svg');
    background-size: cover;
    background-position: center;
    padding: 14px 32px;
    border-radius: 20px;
    position: relative;
}

/* .weather-widget-tab .tab-pane::before{content: '';position: absolute;left:0;top: 0;width: 100%;height: 100%; border-radius: 20px;
background: linear-gradient(92.85deg, #4CAF50 -5.36%, #FFFFFF 98.48%);opacity: 0.1;
} */
.weather-widget-left .temparature h3 {
    color: #FFD166;
    font-size: 72px;
    font-weight: 700;
    line-height: 1.2;
}

.weather-widget-left p {
    font-size: 24px;
    font-weight: 500;
}

.weather-widget-right p {
    line-height: 1.5;
}

/* custom-filter */
.search-filter {
    margin-bottom: 20px;
}

.search-filter form {
    padding: 10px 30px 10px 45px;
    border-radius: 50px;
}

.search-filter form .form-control {
    background: transparent;
    border: none;
    box-shadow: none;
    padding: 8px 15px;
}

.search-filter form .search-btn {
    border: none;
    box-shadow: none;
    background-color: transparent;
    color: var(--midnight-navy);
    position: absolute;
    left: 25px;
    top: 17px;
    font-size: 16px;
}

.select-filter {
    gap: 10px;
}

.select-filter .single-select-filter {
    min-width: 125px;
}

.select-filter .single-select-filter .select2-container--default .select2-selection--single {
    padding: 10px 20px;
    border-radius: 50px;
    background-color: var(--almost-white);
    border: 1px solid var(--almost-white);
    height: auto;
    font-size: 14px;
    line-height: 1.5;
}

.select-filter .single-select-filter .select2-container--default .select2-selection--single[aria-expanded="true"] {

    border: 1px solid var(--orange);
}

.select-filter .single-select-filter .select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 0;
    padding-right: 0;
    line-height: 1.5;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {

    border-color: transparent;
    border-style: none;
    border-width: 0px 0px 0 0px;
    left: -15px;
    margin-left: 0;
    margin-top: 0;
    position: absolute;
    top: 17px;
    background-image: url(../assets/images/icons/Down-menu.svg);
    height: 8px;
    width: 16px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: all 0.3s;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    transform: rotate(180deg);
    transition: all 0.3s;
}

.resFilter {
    gap: 3px;
}

.resFilter .advance-select .select2-search--dropdown {
    display: none !important;
}

.resFilter .select2-container--default .select2-selection--single .select2-selection__arrow b {
    top: 5px;
    left: 0;
}

.resFilter .select2-container--default .select2-selection--single {
    background-color: transparent;
    border: transparent;
}

.resFilter .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: var(--midnight-navy);
    line-height: 1.5;
    font-size: 14px;
}

.resFilter .select2-search--dropdown,
.resFilter .select2-search--dropdown .select2-search__field {
    display: none !important;
}

.resultContainer .res p {
    font-size: 18px;
    color: var(--midnight-navy);
}

.select-filter #distanceFilter {
    width: 170px;
}

.select-filter #runningFilter {
    width: 125px;
}

.select-filter #difficultyFIlter,
.select-filter #lengthFilter {
    width: 130px;
}

#sortby {
    width: 130px;
}

/* explore-trail-absolute-map */
.explore-trail-abs-map {
    position: absolute;
    top: 0;
    width: calc(50% - 30px);
    right: 0;
}

.explore-trail-abs-map iframe {
    width: 100%;
    min-height: 1180px;
    border-radius: 20px 0 0 20px;
}

/* custom-filter-end */
/* profile-inner-card */
.profile-inner-card {
    padding: 18px 32px;
}

.profile-sm {
    height: 50px;
    width: 50px;
    border: 0.72px solid var(--almost-white)
}

.feed-head {
    margin-bottom: 20px;
}

.feed-user-info {
    gap: 10px;
}

.feed-user-info .fui-name {
    display: -webkit-box;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}

.feed-user-info .fui-date {
    font-size: 12px;
    color: #7D7D7D;
}

.dropdown-no-arrow .dropdown-toggle::after {
    content: none;
    display: none;
}

.dropdown-rounded {
    padding: 8px;
    border-radius: 16px;
    border: 1px solid var(--lavender-gray);
}

.dropdown-sm li a {
    font-size: 14px;
    border-radius: 4px;
    color: var(--midnight-navy);
}

.custom-dropdown {
    min-width: 130px;
}

.custom-dropdown .dropdown-item.active,
.custom-dropdown .dropdown-item:active {
    background-color: var(--orange);
}

.single-feed {
    border-bottom: 1px solid var(--soft-grey);
    margin-bottom: 40px;
    padding-bottom: 40px;
}

.single-feed:last-of-type {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

.single-feed .feed-image {
    margin-bottom: 20px;
}

.single-feed .feed-image img {
    max-height: 488px;
    object-fit: cover;
    object-position: top;
}

.single-feed .feed-info .feed-title {
    font-size: 18px;
    margin-bottom: 2px;
    line-height: 1.5;
}

.single-feed .feed-info .rating {
    margin-bottom: 10px;
}

.single-feed .feed-info .rating img {
    height: 20px;
    width: 20px;
}

.single-feed .feed-footer {
    gap: 50px;
}

.single-feed .feed-footer button {
    color: #7D7D7D;
    background-color: transparent;
    border: 0;
}

.single-feed .feed-footer button svg {
    margin-right: 5px;
}

.profile-sidebar {
    top: 100px;
}

.fancybox__container {
    z-index: 10000;
}

.profile-photo-row {
    --bs-gutter-y: 20px;
    --bs-gutter-x: 20px;
}

.profile-photo-single a {
    display: block;
}

.profile-photo-single a img {
    border-radius: 12px;
}

/* profile-sidebar */
.profile-sidebar .profile-sidebar-top {
    padding: 20px 30px 0px 30px;
    border-radius: 20px 20px 0 0;
    display: inline-block;
    width: 100%;
}

.profile-sidebar .profile-sidebar-menu {
    padding: 0px 30px 20px 30px;
    border-radius: 0 0 20px 20px;
    display: inline-block;
    width: 100%;
}

.sidebar-profile .profile-username {
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 0px;
}

.sidebar-profile .profile-img img {
    height: 87px;
    width: 87px;
    border: 0.72px solid #FAFAFA;
    border-radius: 50%;
}

.sidebar-profile .profile-address {
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    margin-bottom: 0px;
}

.sidebar-profile .membership-info {
    font-size: 12px;
    line-height: 1.5;
    margin-bottom: 12px;
}

.sidebar-profile {
    margin-bottom: 12px;
}

.profile-menu li {
    margin-bottom: 12px;
}

.profile-menu li a {
    padding: 10px 30px;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 102px;
    border: 1px solid var(--soft-grey);
    color: var(--midnight-navy);
    display: block;
    transition: all 0.1s;
}

.profile-menu li.active a,
.profile-menu li a:hover {
    border: 1px solid var(--orange);
    transition: all 0.1s;
}

.followings {
    gap: 55px;
    margin-bottom: 12px;
}

.followings::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 1px;
    background-color: #C6C6D1;
    top: 0;
    left: 50%;
}

.followings .follower .fl-count,
.followings .following .fl-count {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.4;
}

.followings .follower p,
.followings .following p {
    font-size: 12px;
    line-height: 1.5;
}

.bookmark-buttons {
    gap: 28px;
    margin-bottom: 12px;
}

.bookmark-buttons .bookmark-btn {
    font-size: 14px;
    line-height: 1.5;
    color: var(--midnight-navy);
    display: inline-block;
    padding: 10px;
}

.bookmark-buttons .bookmark-btn svg {
    margin-right: 12px;
}

.abs-edit-profile {
    position: absolute;
    top: 20px;
    right: 30px;
    display: inline-block;
    z-index: 1;
}

.abs-edit-profile:hover svg path {
    fill: var(--orange);
}

/* affiliate */
.affiliate-hero-section {
    margin-bottom: 90px !important;
}

.affiliate-content {
    padding: 165px 0 90px 0;
    max-width: 685px;
    margin: auto;
    color: var(--almost-white);
}

.affiliate-content .afc-title {
    font-weight: 700;
    font-size: 72px;
    line-height: 1.2;
    margin-bottom: 16px;
}

.affiliate-content p {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 16px;
}

.why-partner-single {
    border: 1px solid var(--soft-grey);
    padding: 10px 40px;
    border-radius: 12px;
    min-height: 110px;
    align-items: center;
    margin-bottom: 40px;
}

.wps-content {
    padding-left: 20px;
}

.wps-content .wps-title {
    font-size: 18px;
    line-height: 1.5;
    font-weight: 500;
}

.wps-content p {
    font-size: 14px;
}

.section-why-partner .cooltrails-title .title {
    font-size: 28px;
}

.who-can-join {
    margin-bottom: 100px;
}

.who-can-join-container {
    padding: 10px 10px 10px 80px;
}

.who-can-join-container h3 {
    font-size: 48px;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 20px;
}

.list-with-icon {
    margin-bottom: 20px;
}

.list-with-icon li {
    position: relative;
    padding-left: 30px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.list-with-icon li img {
    position: absolute;
    left: 0;
    top: 5px;
    max-height: 489px;
}

/* backgrounds */
.main-wrapper {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}

.wrapper-home {
    background-image: url("../assets/images/bg/home-desktop-1.svg");
}

.wrapper-login {
    background-image: url("../assets/images/bg/Login-bg-desktop.svg");
}

.wrapper-signup {
    background-image: url("../assets/images/bg/Signup.svg");
}

.wrapper-trail-details {
    background-image: url("../assets/images/bg/Trail-detailed.svg");
}

.wrapper-explore-trail {
    background-image: url("../assets/images/bg/Running-detailed.svg");
}

.wrapper-profile-feed {
    background-image: url("../assets/images/bg/Profile-feed.svg");
}

.wrapper-affiliates {
    background-image: url("../assets/images/bg/Affiliates.svg");
}
.wrapper-community {
    background-image: url("../assets/images/bg/Community.svg");
}


@media only screen and (max-width : 767.99px) {
    .wrapper-home {
        background-image: url("../assets/images/bg/home-bg-phone.svg");
    }

    .wrapper-login {
        background-image: url("../assets/images/bg/login-bg-phone.svg");
    }

    .wrapper-signup {
        background-image: url("../assets/images/bg/signup-phone.svg");
    }

    .wrapper-explore-trail {
        background-image: url("../assets/images/bg/Running-detailed-mob.svg");
    }

    .wrapper-trail-details {
        background-image: url("../assets/images/bg/Trail-detailed-mob.svg");
    }

    .wrapper-profile-feed {
        background-image: url("../assets/images/bg/Profile.svg");
    }

    .wrapper-affiliates {
        background-image: url("../assets/images/bg/Affiliates-mob.svg");
    }
    .wrapper-community {
        background-image: url("../assets/images/bg/Community-1.svg");
    }
}

/* backgrounds-end */

/*---------------------------------------------
               Responsive Layout  
----------------------------------------------*/
@media only screen and (min-width : 320px) and (max-width : 480px) {
    .br-20 {
        border-radius: 12px !important;
    }

    .cooltrails-title .title {
        font-size: 20px;
    }

    /* .local-favorite-slider-controls{display: flex; justify-content: center;width: 100%;gap: 20px; margin-top: 30px;} */

    .activity-single .activity-overlay .overlay-title {
        font-size: 20px;
    }

    .activity-slider-container .slick-center .activity-single .activity-overlay .overlay-title,
    .activity-slider-container .center .activity-single .activity-overlay .overlay-title {
        transform: scale(0.8);
    }

    .activity-single .activity-img {
        height: 240px;
    }

    .activity-single .activity-overlay {
        padding: 20px 10px;
    }

    /* local-favorite */
    .local-favorite-single {
        border-radius: 12px;
        padding: 12px
    }

    .local-favorite-single .lfc-content .lfc-title {
        font-size: 14px;
    }

    .local-favorite-single .lfc-thumb img {
        width: 100%;
        object-fit: cover;
        height: 240px;
    }

    /* upgrade */
    .upgrade-box {
        padding: 10px;
        border-radius: 12px;
    }

    .upgrade-box .upgrade-content {
        padding: 20px 0 5px 0;
        text-align: center;
    }

    .upgrade-box .upgrade-content .uc-title {
        font-size: 22px;
        margin-bottom: 10px;
    }

    .upgrade-img img {
        border-radius: 16px;
        height: 150px;
        object-fit: cover;
        object-position: center;
    }

    .upgrade-box .upgrade-content p {
        font-size: 14px;
        padding-right: 0;
        margin-bottom: 10px !important;
    }

    /* follow-fellow */
    .section-fellow-explorers {
        padding-bottom: 80px;
    }

    .follow-fellow-single .ff-content .ff-title {
        font-size: 16px;
        line-height: 1.5;
    }

    .follow-fellow-single .ff-content p {
        font-size: 9px;
    }

    .follow-fellow-single .ff-content .btn-style-1 {
        padding: 4px 30px;
    }

    .single-feed .feed-footer {
        gap: 45px;
    }
}

@media only screen and (min-width : 480px) and (max-width : 576px) {
    .br-20 {
        border-radius: 12px !important;
    }

    /* follow-fellow */
    .follow-fellow-single .ff-content .ff-title {
        font-size: 16px;
        line-height: 1.5;
    }

    .follow-fellow-single .ff-content p {
        font-size: 10px;
    }

    .follow-fellow-single .ff-content .btn-style-1 {
        padding: 4px 30px;
    }

    /* upgrade */
    .upgrade-box {
        padding: 10px;
        border-radius: 12px;
    }

    .upgrade-box .upgrade-content {
        padding: 20px 0 15px 0;
        text-align: center;
    }

    .upgrade-box .upgrade-content .uc-title {
        font-size: 26px;
        margin-bottom: 15px;
    }

    .upgrade-img img {
        border-radius: 16px;
        height: 240px;
        object-fit: cover;
        object-position: center;
    }

    .upgrade-box .upgrade-content p {
        font-size: 16px;
        padding-right: 0;
        margin-bottom: 15px !important;
    }

}

/* common for mobile */
@media only screen and (max-width : 576px) {
    .br-20 {
        border-radius: 12px;
    }

    .home-hero-section {
        margin-bottom: 0px;
    }

    .home-hero-section .home-hero-content {
        padding: 68px 0px;
    }

    .home-hero-section .home-hero-content .hh-title {
        padding: 0 10px;
    }

    .home-hero-section .home-hero-content .hh-title .text-1 {
        font-size: 33px;
    }

    .home-hero-section .home-hero-content .hh-title .text-2 {
        font-size: 39px;
    }

    .hh-search-form {
        width: 100%;
        max-width: 330px;
        padding: 3px 20px;
        height: auto;
        border-radius: 12px;
    }

    .hh-search-form .search-btn {
        left: 20px;
        font-size: 20px;
    }

    .hh-search-form .inputbox {
        font-size: 14px;
        width: calc(100% - 25px);
    }

    /* download app */
    .download-app-container {
        overflow: hidden;
        border-radius: 12px;
    }

    .download-app-container .download-app-content {
        padding: 60px 15px 20px 15px;
        text-align: center;
    }

    .download-app-container .download-app-content h2 {
        font-size: 32px;
    }

    .download-app-container .download-app-img {
        padding: 10px 50px 0 50px;
    }

    .download-app-container .download-app-img img {
        margin-bottom: -80px;
    }

    /* gift-card */
    .section-gift-card {
        padding: 200px 0 90px 0;
    }

    .section-gift-card .abs-card-left {
        max-width: 194px;
        box-shadow: 2.15px 0.61px 16.55px 0px #00000026;
        transform: rotate(-30deg);
        left: -55px;
    }

    .section-gift-card .abs-card-right {
        max-width: 194px;
        box-shadow: 2.15px 0.61px 16.55px 0px #00000026;
        transform: rotate(10.17deg);
        position: absolute;
        right: -60px;
    }

    .section-gift-card .gift-card-content .cooltrails-title .title {
        font-size: 32px;
    }

    /* footer */
    .footer-main {
        border-radius: 20px 20px 0 0;
    }

    .footer-bottom .copyright .footer-copyright-nav {
        justify-content: center !important;
        gap: 16px;
    }

    .footer-bottom .copyright .footer-copyright-nav li {
        margin-right: 0;
    }

    .footer-bottom .social-media-logo-footer {
        justify-content: center !important;
    }

    .footer-bottom .copyright .copyright-text {
        text-align: center;
    }

    /* collapsible footer */
    .footer-widget .footer-title .ft-title {
        margin-bottom: 5px;
    }

    .footer-widget .footer-title .ft-title .title {
        font-size: 18px;
        font-weight: 400;
    }

    .footer-widget .footer-title {
        margin-bottom: 20px;
        border-bottom: 0.5px solid rgb(229 231 240 / 30%);
    }

    .footer-widget {
        margin-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .footer-widget .footer-title .ft-title .ft-icon {
        display: block;
    }

    /* collapsible footer end*/
    .local-favorite-slider-controls,
    .activity-Slider-controls,
    .best-view-slider-control {
        display: none !important;
    }

    /* login-page */
    .section-login .container {
        padding: 0 0;
    }

    .login-container {
        padding: 40px 16px;
    }

    .login-container .login-title {
        font-size: 22px;
        margin-bottom: 25px;
    }

    .form-floating .form-control {
        margin-bottom: 15px;
    }

    .section-local-favorite .container {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0
    }

    ;

    .section-local-favorite .container .row .col-12,
    .section-local-favorite .container .row>*,
    .section-local-favorite .col-12 {
        padding-left: 0;
        padding-right: 0;
    }

    .top-trail-column {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .section-explore-trails.default-padding {
        padding-top: 10px;
        padding-bottom: 30px;
    }

    .search-filter form .form-control {
        font-size: 14px;
    }

    .search-filter form {
        padding: 8px 15px 8px 35px;
    }

    .search-filter form .search-btn {
        left: 18px;
        top: 14px;
    }

    /* profile-feed */
    .section-profile-feed .container {
        width: 100%;
    }

    .section-profile-feed .container .row .col-12 {
        width: 100%;
        padding-left: 4px;
        padding-right: 4px;
    }

    .single-feed .feed-image img {
        max-height: 190px;
        height: 190px;
    }

    .profile-inner-card {
        padding: 16px;
    }

    .single-feed .feed-info .feed-title {
        font-size: 16px;
    }

    .single-feed .feed-info p {
        font-size: 12px;
    }

    .single-feed .feed-footer a {
        font-size: 14px;
    }

    /*  */
    .profile-sidebar .profile-sidebar-top {
        padding: 20px 30px 0px 30px;
        border-radius: 12px;
        margin-bottom: 30px;
    }

    .profile-sidebar .profile-sidebar-menu {
        border-radius: 12px 12px 0 0;
        padding: 30px 0px 0px 20px;
    }

    .profile-card-feed {
        border-radius: 0 0 12px 12px !important;
    }

    .profile-sidebar .profile-sidebar-menu .profile-menu {
        display: flex;
        gap: 12px;
        width: 100%;
        overflow: auto;
    }

    .profile-menu li a {
        padding: 4px 20px;
        margin-bottom: 5px;
    }

    /* affiliates */
    .affiliate-hero-section {
        margin-bottom: 0 !important;
    }

    .affiliate-content {
        padding: 220px 0 70px 0;
    }

    .affiliate-content .afc-title {
        font-size: 32px;
    }

    .affiliate-content p {
        font-size: 20px;
        margin-bottom: 40px;
    }

    .why-partner-single {
        margin-bottom: 10px;
        padding: 10px 20px;
        gap: 16px;
    }

    .wps-content {
        padding-left: 0px;
    }

    .wps-content .wps-title {
        font-size: 16px;
    }

    .wps-content p {
        font-size: 12px;
    }

    .why-partner-row {
        margin-bottom: 20px;
    }

    .who-can-join {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    .who-can-join-container {
        padding: 10px;
    }

    .who-can-join-container .wcj-content {
        padding: 30px 10px 20px 10px;
    }

    .who-can-join-container h3 {
        font-size: 32px;
    }
}

    @media only screen and (max-width : 767.99px) {

        .header .main-navbar {
            padding: 12px 10px 12px 10px;
            height: 65px;
        }

        .header .main-navbar .navbar-brand img {
            height: 30px;
        }

        .header .main-navbar .navbar-nav {
            margin-right: 0;
            gap: 10px;
        }

        .header .main-navbar .navbar-nav .dropdown-menu ul {
            margin-top: 0;
        }

        .header .main-navbar .navbar-collapse {
            background-color: var(--almost-white);
            width: calc(100%);
            margin-top: 12px;
            border-radius: 20px;
            position: absolute;
            left: 0;
            top: 55px;
            padding: 10px 10px 15px 10px;
        }

        .header .main-navbar .navbar-nav .dropdown-menu ul:first-of-type {
            margin-top: 10px;
        }

        /*  */
        .trail-dt-title {
            font-size: 22px;
        }

        .trail-dt-nav a {
            font-size: 14px;
        }

        .trail-dt-nav {
            gap: 30px;
            overflow: auto;
        }

        /* weather-widget */
        .weather-widget-tab .tab-pane {
            background-image: url('../assets/images/bg/weather-widget-bg-phone.svg');
        }

        .weather-nav-pills .weather-nav-btn {
            padding: 10px 20px;
        }

        .weather-nav-pills .weather-nav-btn .day {
            font-size: 12px;
        }

        .weather-nav-pills .weather-nav-btn .date {
            font-size: 20px;
        }

        .weather-nav-pills {
            gap: 6px;
        }

        .weather-widget-left .temparature h3 {
            font-size: 40px;
        }

        .weather-widget-left p,
        .trail-sidebar-widget h3 {
            font-size: 20px;
        }

        .testimonial-single .testimonial-head {
            padding-left: 0;
        }

        .testimonial-single .testimonial-head .test-image img {
            height: 76px;
            width: 76px;
        }

        .testimonial-single .testimonial-head .test-head .reviewer-name {
            font-size: 16px;
        }

        .testimonial-single .testimonial-body p {
            padding-right: 0;
            font-size: 12px;
        }

        .testimonial-single .review-gallery div.d-flex {
            gap: 20px;
        }

        .review-row .col-xl-6:nth-last-of-type(2) .testimonial-single {
            border-bottom: 1px solid var(--soft-grey);
        }

        .review-row .col-xl-6:last-of-type .testimonial-single {
            border-bottom: 0;
        }

        #nearby {
            padding-top: 10px !important;
            padding-bottom: 0px !important;
        }

        #weather.weather-section {
            margin-bottom: 5px !important;
        }

        .trail-side-nav li a {
            font-size: 14px;
        }

        .trail-user-favorite-card {
            padding: 12px 10px;
            gap: 10px;
            border-radius: 12px !important;
        }

        .tuf-right-content .tusc-cn-2 p span:first-of-type,
        .tuf-right-content .tusc-cn-1 p,
        .trail-stats .trail-stat-single h3 span {
            font-size: 20px;
        }

        .tuf-right-content .tusc-cn-1 {
            border-left: 0;
            padding: 0 12px 0 0;
        }

        .tuf-left-content .tusc-cn-1 p {
            font-size: 16px;
        }

        .tuf-left-content .tusc-cn-2 p {
            font-size: 12px;
        }

        .tuf-left-content {
            margin-bottom: 10px;
        }

        .tuf-left-content,
        .tuf-right-content {
            gap: 10px;
        }

        .tuf-right-content .btn-style-1 {
            font-size: 12px;
            padding: 10px 22px;
        }

        .trail-sidebar-widget {
            margin-bottom: 30px;
        }

        .trail-desc {
            border-top: 0.5px solid #C6C6D1;
            border-bottom: 0;
            padding: 20px 0;
        }

        .trail-stats {
            gap: 20px;
        }

        .trail-stats .trail-stat-single h3 {
            font-size: 28px;
        }

        .trail-stats .trail-stat-single .tss-icon {
            width: 35px;
            height: 40px;
        }

        .trail-desc p {
            font-size: 12px;
        }

        .trail-cover .coverImage {
            height: 250px;
        }

        .trail-cover .cover-overlay {
            padding: 20px;
        }

        .trail-cover .cover-overlay .btn-style-4 {
            padding: 6px 10px;
            font-size: 14px;
        }

        .explore-trail-abs-map {
            position: relative;
            top: 30px;
            width: calc(100%);
            right: 0;
            left: 0;
        }

        .explore-trail-abs-map iframe {
            width: 100%;
            min-height: 600px;
            border-radius: 10px 10px 10px 10px;
        }
    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) and (max-width:991px) {

        /* explore-trail-absolute-map */
        .explore-trail-abs-map {
            position: relative;
            top: 30px;
            width: calc(100%);
            right: 0;
            left: 0;
        }

        .explore-trail-abs-map iframe {
            width: 100%;
            min-height: 600px;
            border-radius: 10px 10px 10px 10px;
        }
    }

    /* sandy code */
    /* Hover dropdown for large screens */
    @media (min-width: 992px) {
    .navbar .dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0; /* optional: remove jump */
    }

    .navbar .dropdown-toggle::after {
        display: none; /* optional: hide Bootstrap's toggle arrow */
    }
    }

    /* sandy code */

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) and (max-width : 1199.9px) {

        /* explore-trail-absolute-map */
        .explore-trail-abs-map {
            position: relative;
            top: 30px;
            width: calc(100%);
            right: 0;
            left: 0;
        }

        .explore-trail-abs-map iframe {
            width: 100%;
            min-height: 600px;
            border-radius: 10px 10px 10px 10px;
        }
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {}